/********************************* Arkaplan Bölümünün Başı ***********************************************************/                                                           
.backgroundcolor {
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.leftikons:hover {
    background-color: #909090;
    color: #909090;
}
/********************************* Arkaplan Bölümünün sonu ***********************************************************/                                                           
/********************************* Filtre Bölümünün Başı ***********************************************************/                                                           
.FiltreBölümü {
    background-color: #fff;
    float: left;
    margin: 10px;
    padding: 10px;
    align-items: flex-end; 
}
   

.card1  {                                                                           
    align-items: left;
    flex-direction: row;   
    align-items: flex-end; 
    margin: 0;
    padding: 0;
}

.card2 {
    align-items: left;
    flex-direction: row; 
    align-items: flex-end; 
    margin: 0;
    padding: 0;                                                                         
}
.navbar1 {
    align-items: left;
    flex-direction: row;   
    align-items: flex-end; 
    margin: 0;
    padding: 0;
}
/********************************* Filtre Bölümü Sonu ****************************************************************/
/********************************* Arama Çubuğu Başı  ***************************************************************/
.input[type="text"]
{
    width: calc(100% - 10px);
    align-items: center;
    position: fixed;
    border-radius: 30px;color: #909090;
    background-color: #fff;
    padding-left: 450px;
    padding-top: 0px;
    float: none;
    box-shadow: #909090;
}

.button{
    width: calc(100% - 10px);
    position: fixed;
    border-radius: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    padding-top: 5px;
    margin-left: 556px;
    margin-top: 0px;
    margin-bottom: 18px;
    float: right;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #909090;
    color: #909090;
}
.button2microfone {
    width: calc(100% - 10px);
    position: fixed;
    border-radius: 6px;
    padding-top: 0px;
    margin-left: 680px;
    margin-top: 3px;
    margin-bottom: 80px
    
}
.button2microfone:hover {
    background-color: #909090;
    color: #909090;
}




/********************************* Arama Çubuğu Sonu  ************************************************************/
/********************************* YouTube Vidoları  ************************************************************/